@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ultra&display=swap');

/* Base  */

::selection {
  background-color: #4c98fb;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 50px;
  background-color: whitesmoke;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 50px;
  background-color: #4c98fb;
}

.light {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-theme-color: #4c98fb;
  --bg-color: #efefef;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, #111, #555);
  /* background: #f1f8fc; */
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* Base End  */


/* Navbar */

header {
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-image: linear-gradient(to right, #111, #555);
  /* background: #f1f8fc; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5rem auto 0;
  background-image: linear-gradient(to right, #4C98FB, #9bc7ff);
  /* background: var(--primary-theme-color); */
  width: 80vw;
  height: 4.3rem;
  border-radius: 2rem;
  padding: 0.4rem 3rem;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.navbar.fixed {
  width: 100%;
  border-radius: 0;
  padding: 0.4rem 5rem;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left a {
  width: 90px;
  height: 40px;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 0.4rem;
  margin-right: 0.4rem;
  transition: 1s;
}

.nav-left a:hover,
.nav-left a.active {
  color: var(--primary-theme-color);
  background: var(--bg-color);
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-center {
  position: absolute;
  width: 120px;
  height: 120px;
  padding: 0.3rem;
  border-radius: 50%;
  background: var(--bg-color);
  left: 44.5%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 1s;
}

.nav-center.fixed {
  width: 75px;
  height: 75px;
  background: transparent;
}

.nav-center img {
  width: 100%;
}

.log-container {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.log-link {
  width: 120px;
  height: 40px;
  color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 0.4rem;
  margin-right: 0.4rem;
  transition: 1s;
}

.log-link:hover {
  color: var(--primary-theme-color);
  background: var(--bg-color);
}


/* NavbarEnd */

/* Navbar2 */

.navbar2 {
  display: none;
}

.navbar2 {
  position: fixed !important;
  width: 100%;
  z-index: 200;
  padding: 25px 0;
  margin-top: -5%;
  transition: all 0.3s ease;
}

.navbar2.sticky {
  background: #4c98fb;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar2 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar2 .logo a {
  color: var(--bg-color);
  /* color: #222; */
  font-size: 30px;
  font-weight: 600;
  margin-left: 5%;
  text-decoration: none;
}

.navbar2 .menu-list {
  display: inline-flex;
}

.menu-list li {
  list-style: none;
}

.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  padding: 10px 10px 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.menu-list li a:hover {
  color: #007bff;
  background-color: #f1f8fc;
  border-radius: 50px;
}

@media (max-width: 970px) {

  .navbar {
    display: none;
  }

  .navbar2 {
    display: block;
    position: fixed;
  }

  .icon {
    display: block;
    cursor: pointer;
  }

  .icon.hide {
    display: none;
  }

  .cancel-btn {
    color: var(--bg-color);
    margin-right: -85%;
    font-size: 20px;
  }

  .menu-btn {
    /* color: #222; */
    margin-right: 3%;
    color: var(--bg-color);
    font-size: 20px;
  }

  .navbar2 .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: linear-gradient(to top, #111, #222);
    transition: all 0.3s ease;
  }

  .navbar2.show .menu-list {
    left: 0%;
  }

  .navbar2 .menu-list li {
    margin-top: 45px;
  }

  .navbar2 .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .navbar2.show .menu-list li a {
    margin-left: 0px;
  }
}


@media (max-width: 590px) {
  .navbar2 {
    margin-top: -7%;
  }
}

@media (max-width: 380px) {

  .navbar2 {
    margin-top: -12%;
  }

  .navbar2 .logo a {
    font-size: 27px;
  }
}

@media (max-width: 290px) {
  .navbar2 {
    margin-top: -16%;
  }
}

/* Navbar2 End  */

/* Showcase  */


.big-wrapper {
  position: relative;
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to right, #111, #555);
  /* background-color: var(--backgroundColor); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8%;
}

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.big-title {
  font-size: 1.4rem;
  color: var(--bg-color);
  /* color: var(--darkOne); */
  text-transform: capitalize;
  line-height: 1.4;
}

.text {
  color: var(--lightOne);
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.showcase-area .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: 199px;
  left: -10px;
  opacity: 0.1;
}

.btn {
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1 {
  color: #3498db;
}

.btn2 {
  color: #fff;
}

.btn1:hover {
  color: #fff;
}

.btn2 :hover {
  color: #3498db;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 120%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}

.btn2::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn1::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn2::before {
  height: 180%;
}

.btn1:hover::before {
  height: 180%;
}

.btn2:hover::before {
  height: 0%;
}

.btn2 span:last-child {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 2;
  left: 0;
  top: 0;
  animation: animate-btn 3s;
  animation-iteration-count: infinite;
}

@keyframes animate-btn {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }

  100% {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

/* Card  */

.card-container {
  margin: 0 auto;
  margin-top: 5em;
  width: 400px;
  text-align: right;
}

.card {
  width: 400px;
  height: 250px;
  text-align: left;
  margin-bottom: 10em;
}

.flip {
  width: inherit;
  height: inherit;
}

.front {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 15px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
  backface-visibility: hidden;
  background-image: linear-gradient(to right, #111, #555);
  overflow: hidden;
}

.front {
  transform: translateZ(0);
}

.strip-bottom,
.strip-top {
  position: absolute;
  right: 0;
  height: inherit;
  background-image: linear-gradient(to bottom, #67c7ff, #4580ff);
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}

.strip-bottom {
  width: 200px;
  transform: skewX(-15deg) translateX(50px);
}

.strip-top {
  width: 180px;
  transform: skewX(20deg) translateX(50px);
}

.investor {
  position: relative;
  top: 5%;
  left: 7%;
  text-transform: uppercase;
}

.card-center {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 17%;
  padding: 0.3rem;
  border-radius: 50%;
  background-image: url('../assets/icon.gif');
  background-size: cover;
  background-attachment: fixed;
  background-position-x: 48%;
  left: 5%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 1s;
}

.card-center.fixed {
  width: 85px;
  height: 85px;
  background: transparent;
}

.card-center img {
  width: 100%;
}

.card-number {
  position: relative;
  display: flex;
  align-items: center;
  left: 50%;
  font-size: 50px;
  font-weight: 900;
  /* font-family: 'Ultra', serif; */
  font-family: 'Gochi Hand', cursive;
}

.end {
  margin-top: -5%;
  margin-left: 25px;
  text-transform: uppercase;
  font-family: 'cc font', monospace;
}

.end .end-text {
  font-size: 9px;
  color: rgba(255, 255, 255, 0.8);
}

.card-holder {
  margin: 10px 25px;
  text-transform: uppercase;
  font-family: 'cc font', monospace;
}

@media screen and (max-width: 445px) {
  .card-container {
    width: 200px;
  }

  .card {
    width: 200px;
    height: 125px;
  }

  .strip-bottom {
    width: 120px;
  }

  .strip-top {
    width: 100px;
  }

  .investor {
    top: 5%;
    left: 7%;
    font-size: 10px;
  }

  .card-center {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 20%;
  }

  .card-center.fixed {
    width: 85px;
    height: 85px;
  }

  .card-number {
    left: 50%;
    font-size: 25px;
  }

  .end {
    margin-top: -5%;
    margin-left: 10px;
    font-size: 6px;
  }

  .end .end-text {
    font-size: 5px;
  }

  .end .end-date {
    font-size: 9px;
  }

  .card-holder {
    margin: 3px 25px;
    font-size: 9px;
  }

}

@media screen and (max-width: 230px) {

  .card-container {
    margin-left: -8%;
  }

}

/* Card End  */

/* .copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}

@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }

  100% {
    clip-path: circle(150% at 0 0);
  }
} */


.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 500px;
  background-color: #ffffff26;
  bottom: -160px;
  animation: square 25s infinite;
  transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  animation-delay: 2s;
  animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  animation-delay: 4s;

}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-duration: 22s;
  background-color: #e7e7e740;
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  animation-delay: 3s;
  background-color: #5b7baa33;
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  animation-delay: 15s;
  animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 2s;
  animation-duration: 40s;
  background-color: #d9fcff4d;
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  animation-delay: 11s;
}

@keyframes square {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1500px) rotate(600deg);
  }
}

@keyframes square {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1500px) rotate(600deg);
  }
}


@media screen and (max-width: 870px) {

  .showcase-area {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }

  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }

  .big-title {
    font-size: 0.8rem;
  }

  .text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
  }

  .person {
    width: 100%;
    transform: none;
  }

  .logo h3 {
    font-size: 1.25rem;
  }

  .shape {
    bottom: 380px;
    left: -150px;
  }
}

@media screen and (max-width: 970px) {
  .showcase-area .container {
    margin-top: 10% !important;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.7rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }
}

/* Showcase End  */
